body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    width: 300px;
    background-color: #383535;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.screen {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
}

button:hover {
    background-color: #ccc;
}